.c-modal__bcg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 99999;
}

.c-modal {
  background-color: #fff;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;

  &__close {
    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
  }

  &__body {
    margin-top: 15px;
  }
}
