.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 35px;
  .link {
    text-decoration: none;
    color: #61dafb;
    &:hover {
      color: #4f9bb1;
    }
  }
}

.App-main {
  background-color: rgb(63, 67, 77);
  min-height: 90vh;
  padding: 35px;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
